

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

*{
    margin: 0 ; 
    padding: 0 ;
    box-sizing: border-box;
    font-family:'Lato', sans-serif;
}
main
{
 color: #333;
 display: grid;
 max-width: 100%;
 place-items: center;
}

#titreMail  {
    text-align:center;
    margin: 0;
    padding:20px;
    color: #00bfff;
    font-size: 2.5em;
    font-weight: 600;
    margin-top: 10px;
}

#titreDemande {
    text-align: center;
    margin: 0;
    padding:10px;
    margin-top: 10px;
    font-size:medium;
}

form{
    width: 50%;
}

form label{
    font-size: 1.2rem;
}

input, textarea, button {
    width: 100%;
    padding: 0.5em;
    border: none;
    font-size: 1.2rem;
}

input[type=text], input[type="email"], textarea {
    margin: 0 0 1em;
    border: 1px solid #ccc;
    outline: none;
}

input[type="submit"]:hover, button:hover {
   
    background : #00bfff;
    
}



 
body{
    padding-bottom:350px;
    padding-top:70px;
     background-color:#ebeef2;  
    }

    #carouselCol{
    margin-top: 29px;
    }
    


    p:first-letter {
      float: left;
      font-size: 45px;
      line-height: 1;
      font-weight: bold;
      margin-right: 9px;
      color: #8fcdf6;
      font-family: "Times New Roman", Times, serif;
      text-shadow: #690 .05em .05em;
    }


